{% extends "base_page.html" %}
{% block styles %}
	<style>
	</style>
{% endblock %}
{% block content %}
	<ul id = "main_list">
		{% for section in sections %}
			<li>
				<h3>{{section.section}}</h3>
				<ul class = "clauses">
					{% for clause_point in section.rules %}
						<li class = "clause">
							<div class = "clause_point">
								{{clause_point.rule}}
							</div>
							<div class = "examples">
								{{clause_point.example}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block script %}
	<script>
		$(".clauses").hide();
		$("h3").click(function() {
	$(this.parentElement.children[1]).toggle()
	})
	</script>
{% endblock %}