<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <title>
        Anatoly site
        </title>
        <meta charset="utf-8">
        <script src = "/static/js/JQuery.js"></script>
        <script src = "/static/js/common_scripts.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/bootstrap.min.css">
 		<script src = "/static/js/bootstrap.min"></script>
 		<style>
 			#register_form {
 				position: fixed;
 				width: 25%;
 				left: 35%;
 				top: 20%;
 				background-color: rgb(250,250,250);
 				padding: 50px;
 			}		
 		    p {
 		    	font-size: 20px;
 		    }
            input {
 				width: 220px;
 			}
 		</style>
    </head>
<body>

<form id = "register_form" method = "post">
  {{form.as_p}}
  <button class = "btn btn-primary" id = "register_button"> Register </button>
</form>


<script>
	
</script>
</body>
</html>
