
#header_cabinet {
  background-color: #417690;
  color: white;
}

#settings_container {
background-color: #417690;
  color: white;
}

#training_container {
background-color: #417690;
  color: white;
}

#user_log_container {
background-color: #417690;
color: white;
}

table {
  background-color: white;
  color: black;
}

.cabinet_label {
  color: #f5dd5d;
}

.cabinet_ref, .cabinet_ref:visited {
  color: #f5dd5d;
}


