
@import url("themes.css");

#months_list {
    display: inline-block;
}

#months_list li {
    display: inline-block;
    padding: 0px;
}

#main_container {
    left: 100px;
    top: 50px;
}

#calendar_container {
    display: block;
    position: relative;
/*       left: 100px;
   top: 50px;	*/
   padding: 10px;
             border-style: solid;
     border-width: 2px;
     border-color: black;
     padding: 10px;
     width: 750px;
}
    .weekday_header {
        background-color: #FFFFA7;
        text-align: center;
    }


    .weekday_header_weekend {
        background-color: #FFFFA7;
        color: red;
        text-align: center;
    }

    .calendar_day_weekend {
        color: red;
        padding: 5px;
    }

    .weekday_header:hover {
      color: black;
    }

    .weekday_header_weekend:hover {
      color: red;
    }
   .calendar_table {
     font-size: 25px;
     border-collapse: collapse;

   }

   .calendar_day {
       border-width: 1px;
       border-color: black;
       padding: 5px;
   }
   .calendar_table td {
       width: 100px;
       height: 50px;
       border-style: solid;
       border-width: 1px;
       border-color: black;
   }

   .calendar_day:hover, .calendar_day_weekend:hover {
       background-color: #B5D3E7;
   }

   .calendar_week:hover {
        background-color: rgba(220,220,220,0.5);
        color: black;
   }

   #day_tasks_container {
       position: absolute;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      width: 750px;
      height: 400px;
      margin-top: 50px;
   }

   form[name = "day_tasks_form"] {
       position: absolute;
       width: 100%;
       height: 100%;
   }

   #task_day {
       position: absolute;
       width: 200px;
       height: 30px;
       font-size: 30px;
       margin: 10px;
   }

   #submit_tasks {
        position: absolute;
     right: 10px;
     bottom: 10px;
     height: 30px;
     width: 100px;
     font-size: 20px;
     background-color: #FFFFA7;
   }

   #current_month {
       background-color: #FFFFA7;
   }

   #tasks_table {
       position: absolute;
       top: 100px;
       left: 20px;
   }

   .tasks_list_header {
       font-size: 20px;
   }

   .task {
       font-size: 20px;
   }

   #tasks_table td {
       width: 20px;

   }
  
   .tasks_day {
       display: inline-block;
   }

   .tasks_progress {
       font-size: 15px;
       display: inline-block;
       margin-left: 45%;
   }

   .tasks_red {
    background-color: #FF6961;
   }

   .tasks_orange {
       background-color: #FFCD5D;
   }

   .tasks_green {
       background-color: #99EDC3;
   }
