#dictionary {
border-color: #AAAAAA;
}

#letters_list a:hover {
background-color: rgb(220,265,265);
}

#dictionary_table_head {
color: blue;
}

#first_letter {
color: green;
background-color: rgb(200,250,250);
}

#letters_list {
background-color: rgb(200,250,250);
}

.letter, .letter:visited {
color: green;
}

#dictionary_settings #settings_label {
	color: blue;
	background-color: rgb(200,250,250);
}

#first_letter td {
border-color: rgb(200,250,250);
}
