li h3 {
color: rgb(10,10,10);
background-color: rgba(150,220,170,0.5);
color: orange;
}
#content_panel li h3:hover {
background-color:  #127690;
color: #f5dd5d;
}
.clause_point {
background-color: rgba(180,180,250,0.5);
}
.examples {
border-color: rgb(200,200,200);
}

