li h3 {
background-color: #417690;
color: #f5dd5d;
}
#content_panel li h3:hover {
background-color:  #127690;
color: #f5dd5d;
}
.clause_point {
background-color: rgba(180,180,250,0.5);
}
.examples {
border-color: rgb(200,200,200);
}