 #translator_container {
  background-color: rgba(150,220,170,0.5);
  width: 25%;
  padding: 10px;

 }

 #translate_id {
 	font-size: 17px;
 	padding: 5px;
 }

  #training_id {
 	font-size: 17px;
 	padding: 5px;
 }


 #word {
  font-size: 22px;
  
 }

 #translation_container {
 	margin: 10px;
 	background-color: white;
 	height: 200px;
 	padding: 10px;
 	font-size: 20px;
 }

 #translator_header {
   font-size: 25px;
   color: orange;
   font-family: cursive;

 }

